<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/post.css'/>
    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="/js/jquery.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <!--顶部-->
    <div class="row-fluid">
        <div class="col-md-12">
            <p class="navbar-fixed-top"></p>
        </div>
    </div>
    <!--主体内容-->
    <div class="row-fluid">
        <!--左侧边栏-->
        <div class="col-md-2 left_side">
            <div class="user_panel">
                <img class="photo" src="/imgs/male.png" width="150px">

                <div class="user_info">
                    <p>
                        <label>用户名：</label><span>小明</span>
                    </p>

                    <p>
                        <label>角色：</label><span>普通用户</span>
                    </p>
                </div>
            </div>
            <div class="fun_list">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        用户管理
                    </li>
                    <li class="active">
                        <a href="#">查询用户</a>
                    </li>
                    <li class="active">
                        <a href="#">修改用户</a>
                    </li>
                    <li>
                        <a href="#">删除用户</a>
                    </li>
                    <li class="split"></li>
                    <li class="nav-header">
                        帖子管理
                    </li>
                    <li>
                        <a href="#">发帖子</a>
                    </li>
                    <li>
                        <a href="#">查看帖子</a>
                    </li>
                    <li>
                        <a href="#">删除帖子</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--内容-->
        <div class="col-md-10">
            <div class="content">
                <!--帖子详情-->
                <div class="row-fluid post">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr class="post_title">
                                <th colspan="3"><img src="/imgs/tiez.jpg" class="post_photo img-rounded"><span class="post_title">学校青年歌手大奖赛报名帖</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="comment_row">
                                <td><img src="/imgs/male.png" class="comment_photo img-circle">
                                <span class="small text-muted">华特</span></td>
                                <td>不错！！！支持</td>
                                <td><span class="small text-muted pull-right">2016-02-18 11:57:06</span></td>
                            </tr>
                            <tr class="comment_row">
                                <td><img src="/imgs/male.png" class="comment_photo img-circle">
                                <span class="small text-muted">华特</span></td>
                                <td>不错！！！支持</td>
                                <td><span class="small text-muted pull-right">2016-02-18 11:57:06</span></td>
                            </tr>
                            <tr class="comment_row">
                                <td><img src="/imgs/male.png" class="comment_photo img-circle">
                                <span class="small text-muted">华特</span></td>
                                <td>不错！！！支持</td>
                                <td><span class="small text-muted pull-right">2016-02-18 11:57:06</span></td>
                            </tr>

                            <tr>
                                <td colspan="3"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--回复帖子-->
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="comments">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        发表回复
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p><textarea cols="50" rows="6"></textarea></p>
                                    <a href="#" class="btn btn-primary">回复</a>
                                </div>
                                <div class="panel-footer"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <div class="row-fluid">
        <div class="col-md-12">
            <p class="navbar-fixed-bottom"></p>
        </div>
    </div>

</div>


</body>
</html>